<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h5>Автор : {{ post.post_author }}</h5>
<br>
<h5>Дата публикации :{{ post.post_time_create }}</h5>
<hr>
<h5> {{ post.post_title | censor}}.</h5>
<br>
<h5> {{ post.post_text | censor }}</h5>
<hr>
<h5> Оценка статьи : {{ post.post_rating }}</h5>

{% endblock content %}
